<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Highlight Viewer Player</title>
    <link rel="stylesheet" href="Video Viewer Style.css">
</head>
<body>
    <h1 id="Video_Title"><u>No Games Of Interest On <%- date %></u></h1>
    <div class="outside_border">
        <div class="background_image_container">
            <!-- <img id="soccer_template" src="images/soccer_screen.png" alt="Soccer Template"> -->
            <h1><a href="/">Click Here To Start Over</a></h1>
        </div>
        <div class="video_container">
          <h1><a href="/random-video">Click Here To Generate Random Video</a></h1>
        </div>
    </div>
</body>
</html>